PRAGMA foreign_keys = ON;

-- Table: Admins
CREATE TABLE Admins (
    AdminID INTEGER NOT NULL,
    FullName TEXT NOT NULL,
    Email TEXT NOT NULL UNIQUE,
    AccessLevel TEXT,
    PRIMARY KEY (AdminID)
);

-- Table: Categories
CREATE TABLE Categories (
    CategoryID INTEGER NOT NULL,
    CategoryName TEXT NOT NULL,
    PRIMARY KEY (CategoryID)
);

-- Table: Games
CREATE TABLE Games (
    GameID INTEGER NOT NULL,
    GameTitle TEXT NOT NULL,
    Platform TEXT,
    Genre TEXT,
    TotalStock INTEGER,
    CategoryID INTEGER,
    PRIMARY KEY (GameID),
    FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID)
);

-- Table: GameCopies
CREATE TABLE GameCopies (
    CopyID INTEGER NOT NULL,
    GameID INTEGER,
    CopyCondition TEXT,
    Availability TEXT,
    PRIMARY KEY (CopyID),
    FOREIGN KEY (GameID) REFERENCES Games(GameID)
);

-- Table: Users
CREATE TABLE Users (
    UserID INTEGER NOT NULL,
    FullName TEXT NOT NULL,
    Email TEXT NOT NULL UNIQUE,
    AccountStatus TEXT,
    PRIMARY KEY (UserID)
);

-- Table: Rentals
CREATE TABLE Rentals (
    RentalID INTEGER NOT NULL,
    UserID INTEGER,
    CopyID INTEGER,
    DateIssued TEXT,
    DateDue TEXT,
    PRIMARY KEY (RentalID),
    FOREIGN KEY (UserID) REFERENCES Users(UserID),
    FOREIGN KEY (CopyID) REFERENCES GameCopies(CopyID)
);

-- Table: Penalties
CREATE TABLE Penalties (
    PenaltyID INTEGER NOT NULL,
    UserID INTEGER,
    RentalID INTEGER,
    PenaltyAmount REAL,
    PenaltyReason TEXT,
    PRIMARY KEY (PenaltyID),
    FOREIGN KEY (UserID) REFERENCES Users(UserID),
    FOREIGN KEY (RentalID) REFERENCES Rentals(RentalID)
);

-- Table: Reviews
CREATE TABLE Reviews (
    ReviewID INTEGER NOT NULL,
    UserID INTEGER,
    GameID INTEGER,
    Rating INTEGER,
    ReviewText TEXT,
    PRIMARY KEY (ReviewID),
    FOREIGN KEY (UserID) REFERENCES Users(UserID),
    FOREIGN KEY (GameID) REFERENCES Games(GameID)
);

-- Table: Transactions
CREATE TABLE Transactions (
    TransactionID INTEGER NOT NULL,
    UserID INTEGER,
    RentalID INTEGER,
    AdminID INTEGER,
    Amount REAL,
    TransactionDate TEXT,
    PRIMARY KEY (TransactionID),
    FOREIGN KEY (UserID) REFERENCES Users(UserID),
    FOREIGN KEY (RentalID) REFERENCES Rentals(RentalID),
    FOREIGN KEY (AdminID) REFERENCES Admins(AdminID)
);

-- Table: UnreleasedCatalog
CREATE TABLE UnreleasedCatalog (
    UnreleasedID INTEGER NOT NULL,
    GameTitle TEXT,
    ExpectedRelease TEXT,
    PRIMARY KEY (UnreleasedID)
);

-- Table: UserInterests
CREATE TABLE UserInterests (
    InterestID INTEGER NOT NULL,
    UserID INTEGER,
    UnreleasedID INTEGER,
    RequestTime TEXT,
    PRIMARY KEY (InterestID),
    FOREIGN KEY (UserID) REFERENCES Users(UserID),
    FOREIGN KEY (UnreleasedID) REFERENCES UnreleasedCatalog(UnreleasedID)
);

-- Table: Waitlist
CREATE TABLE Waitlist (
    WaitlistID INTEGER NOT NULL,
    UserID INTEGER,
    GameID INTEGER,
    RequestTime TEXT,
    PRIMARY KEY (WaitlistID),
    FOREIGN KEY (UserID) REFERENCES Users(UserID),
    FOREIGN KEY (GameID) REFERENCES Games(GameID)
);

-- =====================
-- INSERT DATA
-- =====================

INSERT INTO Admins (AdminID, FullName, Email, AccessLevel) VALUES (1, 'Admin One', 'admin1@example.com', 'Manager');
INSERT INTO Admins (AdminID, FullName, Email, AccessLevel) VALUES (2, 'Admin Two', 'admin2@example.com', 'Staff');
INSERT INTO Admins (AdminID, FullName, Email, AccessLevel) VALUES (3, 'Admin Three', 'admin3@example.com', 'Staff');

INSERT INTO Categories (CategoryID, CategoryName) VALUES (1, 'Hot Selling');
INSERT INTO Categories (CategoryID, CategoryName) VALUES (2, 'New Release');
INSERT INTO Categories (CategoryID, CategoryName) VALUES (3, 'Retro');

INSERT INTO Games (GameID, GameTitle, Platform, Genre, TotalStock, CategoryID) VALUES (1, 'Elden Ring', 'PC', 'RPG', 10, 2);
INSERT INTO Games (GameID, GameTitle, Platform, Genre, TotalStock, CategoryID) VALUES (2, 'Super Mario Bros', 'Nintendo', 'Platformer', 5, 3);
INSERT INTO Games (GameID, GameTitle, Platform, Genre, TotalStock, CategoryID) VALUES (3, 'FIFA 25', 'PlayStation', 'Sports', 8, 1);

INSERT INTO GameCopies (CopyID, GameID, CopyCondition, Availability) VALUES (1, 1, 'Good', 'Available');
INSERT INTO GameCopies (CopyID, GameID, CopyCondition, Availability) VALUES (2, 1, 'Good', 'Available');
INSERT INTO GameCopies (CopyID, GameID, CopyCondition, Availability) VALUES (3, 2, 'Fair', 'Available');

INSERT INTO Users (UserID, FullName, Email, AccountStatus) VALUES (1, 'Nauman Iqbal', 'nauman@example.com', 'Active');
INSERT INTO Users (UserID, FullName, Email, AccountStatus) VALUES (2, 'Afras Shahnawaz', 'afras@example.com', 'Active');
INSERT INTO Users (UserID, FullName, Email, AccountStatus) VALUES (3, 'Daud Majeed', 'daud@example.com', 'Active');

INSERT INTO Rentals (RentalID, UserID, CopyID, DateIssued, DateDue) VALUES (1, 2, 2, '2026-03-01', '2026-03-08');
INSERT INTO Rentals (RentalID, UserID, CopyID, DateIssued, DateDue) VALUES (2, 1, 3, '2026-03-02', '2026-03-09');
INSERT INTO Rentals (RentalID, UserID, CopyID, DateIssued, DateDue) VALUES (3, 4, 6, '2026-03-03', '2026-03-10');

INSERT INTO Penalties (PenaltyID, UserID, RentalID, PenaltyAmount, PenaltyReason) VALUES (1, 2, 1, 100.00, 'Late Return');
INSERT INTO Penalties (PenaltyID, UserID, RentalID, PenaltyAmount, PenaltyReason) VALUES (2, 5, 7, 250.00, 'Late Return');
INSERT INTO Penalties (PenaltyID, UserID, RentalID, PenaltyAmount, PenaltyReason) VALUES (3, 5, 7, 150.00, 'Damaged Copy');

INSERT INTO Reviews (ReviewID, UserID, GameID, Rating, ReviewText) VALUES (2, 1, 2, 4, 'Classic fun.');
INSERT INTO Reviews (ReviewID, UserID, GameID, Rating, ReviewText) VALUES (3, 4, 4, 5, 'Masterpiece of indie gaming.');
INSERT INTO Reviews (ReviewID, UserID, GameID, Rating, ReviewText) VALUES (4, 6, 5, 3, 'Fun but repetitive after a while.');

INSERT INTO Transactions (TransactionID, UserID, RentalID, AdminID, Amount, TransactionDate) VALUES (1, 2, 1, 1, 500.00, '2026-03-01');
INSERT INTO Transactions (TransactionID, UserID, RentalID, AdminID, Amount, TransactionDate) VALUES (2, 1, 2, 2, 300.00, '2026-03-02');
INSERT INTO Transactions (TransactionID, UserID, RentalID, AdminID, Amount, TransactionDate) VALUES (3, 4, 3, 1, 400.00, '2026-03-03');

INSERT INTO UnreleasedCatalog (UnreleasedID, GameTitle, ExpectedRelease) VALUES (1, 'GTA VI', '2026-12-01');
INSERT INTO UnreleasedCatalog (UnreleasedID, GameTitle, ExpectedRelease) VALUES (2, 'Elder Scrolls VI', '2027-06-15');
INSERT INTO UnreleasedCatalog (UnreleasedID, GameTitle, ExpectedRelease) VALUES (3, 'Fable Reboot', '2026-09-20');

INSERT INTO UserInterests (InterestID, UserID, UnreleasedID, RequestTime) VALUES (1, 2, 1, '2026-03-04 09:00:00');
INSERT INTO UserInterests (InterestID, UserID, UnreleasedID, RequestTime) VALUES (2, 3, 1, '2026-03-05 11:30:00');
INSERT INTO UserInterests (InterestID, UserID, UnreleasedID, RequestTime) VALUES (3, 1, 2, '2026-03-06 08:00:00');

INSERT INTO Waitlist (WaitlistID, UserID, GameID, RequestTime) VALUES (2, 4, 3, '2026-03-04 14:30:00');
INSERT INTO Waitlist (WaitlistID, UserID, GameID, RequestTime) VALUES (3, 6, 5, '2026-03-05 09:15:00');
INSERT INTO Waitlist (WaitlistID, UserID, GameID, RequestTime) VALUES (4, 1, 7, '2026-03-06 11:00:00');