PRAGMA foreign_keys = ON;

CREATE TABLE Employees (
    EmployeeID INTEGER NOT NULL,
    FullName TEXT NOT NULL,
    Email TEXT NOT NULL UNIQUE,
    Position TEXT,
    PRIMARY KEY (EmployeeID)
);

CREATE TABLE Departments (
    DepartmentID INTEGER NOT NULL,
    DepartmentName TEXT NOT NULL,
    PRIMARY KEY (DepartmentID)
);

CREATE TABLE Projects (
    ProjectID INTEGER NOT NULL,
    Title TEXT NOT NULL,
    Lead TEXT NOT NULL,
    Code TEXT UNIQUE,
    TotalTasks INTEGER,
    DepartmentID INTEGER,
    PRIMARY KEY (ProjectID),
    FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID)
);

CREATE TABLE Tasks (
    TaskID INTEGER NOT NULL,
    ProjectID INTEGER,
    Status TEXT,
    Priority TEXT,
    PRIMARY KEY (TaskID),
    FOREIGN KEY (ProjectID) REFERENCES Projects(ProjectID)
);

CREATE TABLE Clients (
    ClientID INTEGER NOT NULL,
    FullName TEXT NOT NULL,
    Email TEXT NOT NULL UNIQUE,
    Status TEXT,
    PRIMARY KEY (ClientID)
);

CREATE TABLE Assignments (
    AssignmentID INTEGER NOT NULL,
    ClientID INTEGER,
    TaskID INTEGER,
    DateAssigned TEXT,
    DueDate TEXT,
    PRIMARY KEY (AssignmentID),
    FOREIGN KEY (ClientID) REFERENCES Clients(ClientID),
    FOREIGN KEY (TaskID) REFERENCES Tasks(TaskID)
);

CREATE TABLE Penalties (
    PenaltyID INTEGER NOT NULL,
    ClientID INTEGER,
    AssignmentID INTEGER,
    Amount REAL,
    Reason TEXT,
    PRIMARY KEY (PenaltyID),
    FOREIGN KEY (ClientID) REFERENCES Clients(ClientID),
    FOREIGN KEY (AssignmentID) REFERENCES Assignments(AssignmentID)
);

CREATE TABLE Feedback (
    FeedbackID INTEGER NOT NULL,
    ClientID INTEGER,
    ProjectID INTEGER,
    Rating INTEGER,
    Comment TEXT,
    PRIMARY KEY (FeedbackID),
    FOREIGN KEY (ClientID) REFERENCES Clients(ClientID),
    FOREIGN KEY (ProjectID) REFERENCES Projects(ProjectID)
);

CREATE TABLE Transactions (
    TransactionID INTEGER NOT NULL,
    ClientID INTEGER,
    AssignmentID INTEGER,
    EmployeeID INTEGER,
    Amount REAL,
    TransactionDate TEXT,
    PRIMARY KEY (TransactionID),
    FOREIGN KEY (ClientID) REFERENCES Clients(ClientID),
    FOREIGN KEY (AssignmentID) REFERENCES Assignments(AssignmentID),
    FOREIGN KEY (EmployeeID) REFERENCES Employees(EmployeeID)
);

CREATE TABLE UpcomingProjects (
    UpcomingID INTEGER NOT NULL,
    Title TEXT,
    ExpectedStart TEXT,
    PRIMARY KEY (UpcomingID)
);

CREATE TABLE ClientInterests (
    InterestID INTEGER NOT NULL,
    ClientID INTEGER,
    UpcomingID INTEGER,
    RequestTime TEXT,
    PRIMARY KEY (InterestID),
    FOREIGN KEY (ClientID) REFERENCES Clients(ClientID),
    FOREIGN KEY (UpcomingID) REFERENCES UpcomingProjects(UpcomingID)
);

CREATE TABLE ProjectQueue (
    QueueID INTEGER NOT NULL,
    ClientID INTEGER,
    ProjectID INTEGER,
    RequestTime TEXT,
    PRIMARY KEY (QueueID),
    FOREIGN KEY (ClientID) REFERENCES Clients(ClientID),
    FOREIGN KEY (ProjectID) REFERENCES Projects(ProjectID)
);

-- Employees
INSERT INTO Employees VALUES (1, 'Bilal Sheikh', 'bilal@company.com', 'Manager');
INSERT INTO Employees VALUES (2, 'Fatima Javed', 'fatima@company.com', 'Analyst');
INSERT INTO Employees VALUES (3, 'Kashif Mehmood', 'kashif@company.com', 'Developer');

-- Departments
INSERT INTO Departments VALUES (1, 'Research');
INSERT INTO Departments VALUES (2, 'Development');
INSERT INTO Departments VALUES (3, 'Marketing');

-- Projects
INSERT INTO Projects VALUES (1, 'AI Assistant', 'Dr. Salman', 'PRJ001', 12, 1);
INSERT INTO Projects VALUES (2, 'Mobile App', 'Ayesha Khan', 'PRJ002', 8, 2);
INSERT INTO Projects VALUES (3, 'Market Study', 'Imran Ali', 'PRJ003', 10, 3);

-- Tasks
INSERT INTO Tasks VALUES (1, 1, 'Open', 'High');
INSERT INTO Tasks VALUES (2, 1, 'Closed', 'Medium');
INSERT INTO Tasks VALUES (3, 2, 'Open', 'High');

-- Clients
INSERT INTO Clients VALUES (1, 'Ahmed Khan', 'ahmed@client.com', 'Active');
INSERT INTO Clients VALUES (2, 'Maryam Ali', 'maryam@client.com', 'Active');
INSERT INTO Clients VALUES (3, 'Tariq Hussain', 'tariq@client.com', 'Suspended');

-- Assignments
INSERT INTO Assignments VALUES (1, 1, 2, '2026-06-01', '2026-06-08');
INSERT INTO Assignments VALUES (2, 2, 5, '2026-06-02', '2026-06-09');
INSERT INTO Assignments VALUES (3, 4, 8, '2026-06-03', '2026-06-10');

-- Penalties
INSERT INTO Penalties VALUES (1, 1, 1, 5000.00, 'Missed deadline');
INSERT INTO Penalties VALUES (2, 3, 2, 12000.00, 'Poor quality');

-- Feedback
INSERT INTO Feedback VALUES (1, 1, 1, 5, 'Excellent project execution');
INSERT INTO Feedback VALUES (2, 2, 4, 5, 'System works flawlessly');
INSERT INTO Feedback VALUES (3, 4, 6, 4, 'Good innovation');

-- Transactions
INSERT INTO Transactions VALUES (1, 1, 1, 1, 200000.00, '2026-06-01');
INSERT INTO Transactions VALUES (2, 2, 2, 2, 150000.00, '2026-06-02');
INSERT INTO Transactions VALUES (3, 4, 3, 1, 180000.00, '2026-06-03');

-- Upcoming Projects
INSERT INTO UpcomingProjects VALUES (1, 'Cloud Migration', '2026-08-01');
INSERT INTO UpcomingProjects VALUES (2, 'AI Dashboard', '2026-09-15');
INSERT INTO UpcomingProjects VALUES (3, 'Blockchain Integration', '2027-01-10');

-- Client Interests
INSERT INTO ClientInterests VALUES (1, 1, 1, '2026-06-04 10:00:00');
INSERT INTO ClientInterests VALUES (2, 2, 2, '2026-06-05 12:30:00');
INSERT INTO ClientInterests VALUES (3, 4, 3, '2026-06-06 09:45:00');

-- Project Queue
INSERT INTO ProjectQueue VALUES (1, 1, 3, '2026-06-04 14:00:00');
INSERT INTO ProjectQueue VALUES (2, 2, 7, '2026-06-05 16:20:00');
INSERT INTO ProjectQueue VALUES (3, 5, 4, '2026-06-06 11:10:00');
